AsyncTest2/obj/*
AsyncTest2/bin/*
Sln/testimpactdata.sdf
Sln/Webmaster1.vsmdi
test/Opt/Transaction/Transaction.Tests/bin/Release
App/CMS/Logs/web.log*
App/Web/Logs/web.log*
*.dll
*.suo
*.swp
*.pdb
*.cache
*.bak
~$*.doc*
*/*.htm
*.vspscc
*.vssscc
*.nupkg
*.wmv
*.scproj
*.shfbproj
*.log
*.chw
*.chm
*CISRV*.hibernate.*.*
*DocRoot/*/child/*.*
build.force

*/*/*/*/Forest/*
*/*/*/*/Hay/*
*/*/*/*/Office2007/*
*/*/*/*/Outlook/*
*/*/*/*/Simple/*
*/*/*/*/Sitefinity/*
*/*/*/*/Sunset/*
*/*/*/*/Vista/*
*/*/*/*/Office2010*/*

*/bin/*
*/obj/*
*.FileListAbsolute.txt
*/*/obj/*
*/*/*/bin/*
*/*/cisrv*/*
*/*/bin/*

/*/*/*/*.Cache
/*/*/*.Cache

*/*.docstates
/*/*/*.docstates
/*.docstates
/Core/Media/Service/*.sln.docstates

/*/*/*/Debug/*.XML
/*/*/*/bin/Debug/*
/*/*/bin/Debug/*

/*/*/*/*/bin/Debug/*
/*/TestResults/*
/*/TestResults/*/Out/*
/test/*/bin/Debug/*
/test/*/obj/Debug/*

/doc/arch/Data.mmap~26278166598860de0e5d9c56a27270e115b813aa
/doc/jmcuch06.pdf

/App/Web/App_Data/errorlog
/App/*/*/*.XML
/Core/*/*/*.bak
/Core/*/*/*.vs10x
/Core/*/*.vs10x
/Data/*/*/*.vs10x

/DocRoot/*.vs10x
/db/*.vs10x
/gen/Generator.csproj.vs10x

/test/Data/Data.Tests.csproj.vspscc
/test/Framework/Framework.Tests.csproj.vspscc
/test/Core/Core.Tests.csproj.vspscc

/Lib/Debug/*
/Opt/*/*/obj/Debug/*

/App/Web/App_Data/web.log
/.gitignore